.about-block {
  display: flex;
  background-color: #191919;
  align-items: center;
  gap: 50px;
  padding: 100px;
}
.about-block img {
  height: 500px;
  width: 500px;
  border-radius: 30px;
  object-fit: contain;
}
.about-infor {
  color: white;
}
.about-infor h2 {
  font-weight: bolder;
  font-size: 60px;
}
.about-infor p {
  line-height: 30px;
  font-size: 18px;
  font-weight: 300px;
  color: #9b9b9f;
}
